<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>A Post</title>
  </head>
  <body>
    <div id="container">
      <header>
      </header>
      <nav>
      </nav>
      <div id="content">
        <h1><%=posts.title%></h1><br>
        <p><%=posts.blurb%></p>
        <br><br>
        <a href='/' class="button">Home</a>
      </div>
      <footer class="footer">
      </footer>
    </div>
  </body>
</html>
